<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
</head>

<body>
    <div class="hero-image">
        <div class="row">

            <div class="col-lg-5 hero-text">
                <h1>You've reached a unique destination</h1>
                <p>
                    Guide HUB is a place for travellers, explorers and city lovers. We know New York and we know it is extremly dynamic. There's always a new place to discover, an exciting event to attend. We want to make it easier to experience the city - we connect best New York guides in one place to help them stay informed by sharing their discoveries and finding new spots.
                </p>
                <p>
                    You're looking for a unique guided tour? This is the right place, too! 
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <button class="actionbtn">
                            <a href="/about" class="actionlink" target="blank">Find your Guide</a>
                        </button>
                    </div>

                    <div class="col-lg-6">
                        <button class="actionbtn"> 
                            <a href="/users/sign_up" class="actionlink" target="blank">Join the HUB</a>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>