<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
</head>

<body>
    <div class="container hero">
        <div class="row">
            <div class="col-lg-7">
            </div>

            <div class="col-lg-5">
                <h1>Welcome to The KRK!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis consequat lorem, pharetra laoreet odio. Praesent tempus justo non mauris ultricies, vel fringilla tortor tincidunt. Suspendisse mattis hendrerit nulla, mattis vestibulum dui tristique sed. Ut massa enim, blandit sit amet sapien sed, dignissim elementum dui. Vestibulum ultrices, dui mattis euismod maximus, neque ante vestibulum nulla, eu porta justo ex eget libero. Praesent hendrerit velit vel arcu maximus, at mattis diam elementum. Quisque in vehicula purus. Vivamus aliquam fermentum massa, at pulvinar justo iaculis at.
                </p>
                <div class="row text-center">
                    <div class="col-lg-6">
                        <a href="https://www.airbnb.ie/" target="blank"> 
                        AIRBNB LOGO
                        </a>
                    </div>

                    <div class="col-lg-6">
                        <a href="https://www.booking.com/" target="blank">
                        BOOKING LOGO
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>