<!DOCTYPE html>
<html lang="en">

<head>
<%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
</head>

<body>
  <div class="container">
    <h1>About</h1>
  </div>

  <div class="container-fluid">
		<div class="row">
			<div class="col-lg-5 guide">
				<img class="img-fluid" src="/assets/profile_picture.jpg" alt="Picture of our Guide" width="50%">
			</div>
			<div class="col-lg-5">
				<h2>GUIDE NAME</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis consequat lorem, pharetra laoreet odio. Praesent tempus justo non mauris ultricies, vel fringilla tortor tincidunt. Suspendisse mattis hendrerit nulla, mattis vestibulum dui tristique sed. Ut massa enim, blandit sit amet sapien sed, dignissim elementum dui. 
				</p>
        <a class="btn actionbtn" href="/contact">Explore with me</a>
			</div>
		</div>
	</div>

  <div class="container-fluid">
		<div class="row">
			<div class="col-lg-5 guide">
				<img class="img-fluid" src="/assets/profile_picture.jpg" alt="Picture of our Guide" width="50%">
			</div>
			<div class="col-lg-5">
				<h2>NAME GUIDE</h2>
				<p>
				Pellentesque in neque felis. Cras nibh nisl, condimentum ac pretium vitae, accumsan id elit. Suspendisse varius felis eu accumsan pharetra. Vestibulum gravida nec est ac suscipit. Mauris hendrerit eu mauris a sodales. Integer vitae auctor elit. Fusce consequat vulputate lacus a porta. Maecenas ac metus molestie, vulputate tortor ac, sodales lacus.
				</p>
        <a class="btn actionbtn" href="/contact">Explore with me</a>
			</div>
		</div>
	</div>
      
</body>

</html>